
body {
  background-image: url(https://media4.giphy.com/media/l0EwYRXhyq1rpn4Gc/giphy.gif?cid=ecf05e47bw1lph1a6gskat5hj8yh2tdakv1dr2qr5ee4xrwx&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-variant: small-caps;
  color: white;
}

.color-changing-text {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: red; /* Initial color */
  animation: colorChange 5s linear infinite; /* Animation properties */
}

@keyframes colorChange {
  0% {
      background-color: red;
  }
  25% {
      background-color: blue;
  }
  50% {
      background-color: green;
  }
  75% {
      background-color: orange;
  }
  100% {
      background-color: red; /* Return to the initial color */
  }

.dropdown-content {
  display:grid;
  position: absolute;
  background-color: #f1f1f1;
  width: 80vw;
}

/* Style the dropdown items */
.dropdown-content li {
  padding: 12px 16px;
  text-decoration:dotted;
  display: block;
}

/* Change color on hover */
.dropdown-content li:hover {
  background-color: #ddd;
}
